@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap");

* {
  box-sizing: border-box;
}

html {
  height: -webkit-fill-available;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans JP", sans-serif;
  height: 100vh;
  height: -webkit-fill-available;
  background-color: #222222;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

button {
  border: none;
  outline: none;
  background-color: #444444;
  color: #ffffff;
  border-radius: 4px;
  font-size: 16px;
}

button:hover {
  cursor: pointer;
}

@media (min-width: 480px) {
  .wrapper {
    height: 100vh;
  }
  .container {
    border: 1px solid #666666;
  }
}
